<app-header></app-header>
<div class="login-form mb-4">
  <div class="form-group mb-4">
    <div
      *ngIf="message !== ''"
      class="alert alert-info"
      role="alert"
    > {{ message }}
    </div>
  </div>
  <form #f="ngForm"
        (ngSubmit)="f.form.valid && onSignIn()"
        name="form"
        novalidate>
    <div class="avatar">
<!--      <img src="./assets/admin.png" alt="Avatar">-->
      <i class="fas fa-sign-in-alt fa-3x mt-3 ml-3"></i>
    </div>
    <div class="form-group">
      <div
        *ngIf="f.submitted && isLoginFailed"
        class="alert alert-danger"
        role="alert"
      >
        Login failed: {{ errorMessage }}
      </div>
    </div>
    <h2 class="text-center">Member Login</h2>
    <div class="form-group">
      <input
        [(ngModel)]="loginModel.username"
        class="form-control" name="userName"
        placeholder="Username"
        type="text"
      />    </div>
    <div class="form-group">
      <input
        [(ngModel)]="loginModel.password"
        class="form-control" name="password"
        placeholder="Password"
        type="password"
      />    </div>
    <div class="form-group">
      <button (click)="onSignIn()" class="btn btn-primary btn-lg btn-block" type="button">Sign in</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>&nbsp;<br>

      <a class="pull-right" href="#"> Forgot Password?</a>
    </div>
    <p class="text-center small">Don't have an account? <a [routerLink]="['/signup']">Sign up here!</a></p>
  </form>
</div>
<app-footer></app-footer>
